<form role="form">
  <div class="form-group">
    <label for="title" class="control-lable">Title</label>
    <input type="text" ng-model='movie.title' class='form-control' id='title' placeholder='Enter a movie title.'>
  </div>
  <div class="form-group">
    <label for="title" class="control-lable">URL</label>
    <input type="text" ng-model='movie.url' class='form-control' id='url' placeholder='Enter the YouTube URL.'>
  </div>
  <div class="form-group">
    <label for="title" class="control-lable">Notes</label>
    <input type="text" ng-model='movie.notes' class='form-control' id='notes' placeholder=''>
  </div>
  <input type="submit" class="btn btn-primary" ng-click="saveMovie()" value="Save">
</form>
